<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/main.css" rel="stylesheet">
</head>

<body class="p-5">
  <nav>
    <div class="flex justify-center">
      <img class="h-28 w-28" src="/assets/logo.png">
    </div>
  </nav>
  <section class="flex justify-center">
    <div class="card bg-pink-100 max-w-sm w-full">
      <div class="card-body">
        <div class="alert alert-error text-primary-content">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>Failed to connect! Please go back and try again.</span>
          </div>
        </div>

        <div class="divider"></div>

        <a href="/" class="btn gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7">
            </path>
          </svg>
          Go Back
        </a>
      </div>
    </div>
  </section>
</body>

</html>